.DS_Store
.env
.npm
.idea
# .vscode # commented out to add the testing debug profile
.nyc_output
.eslintcache
.lock-wscript
.idea_modules
.yarn-integrity
.node_repl_history
node_modules
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-error.log.*
*.log
*.orig
*.swp
*.tgz
/jest/cache
/coverage
/build
/dist
/tmp
/.vscode/settings.json
/test/ui/mocky/.recordings
.terraform
config.json
